/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/examples.txt

# rspec failure tracking
.rspec_status

# SimpleCov
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
